.upper_head{
  text-align: center;
  padding:10px 20px 0 20px;
}
.upper_head h2{
  font-size: 4.5rem;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 10px;
}
.upper_head p{
  font-size: 1.2rem;
  color: #555;
  font-family: "Pixelify Sans", sans-serif;
  margin-top: 0;
}
.carousel-section {
  width: 100%;
  padding: 60px 0 10px 0;
  overflow: hidden;
}

/* CAROUSEL LANE */
.carousel {
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}
.carousel:hover .carousel-track {
  animation-play-state: paused;
  cursor: pointer;
}

/* TRACK */
.carousel-track {
  display: flex;
  width: fit-content;
  gap: 70px;
  animation: scroll-left 30s linear infinite;
}

/* OPPOSITE DIRECTION */
.carousel-track.right {
  animation: scroll-right 30s linear infinite;
}

/* ITEMS */
.carousel-item {
  flex-shrink: 0;
  width: 260px;
  height: 260px;
  margin-top: 20px;
  border-radius: 16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}

/* GRADIENT EDGES */
.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}

.carousel::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.carousel::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}


/* KEYFRAMES */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
